
.header {
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* border-style: solid;
    align-items: center;
    border-width: 1px;
    justify-content: stretch;
    margin-bottom:30px; */
}
.left-section {
    display: flex;
    align-items:center;

}
.middle-section {
    /* background-color:lightpink; */
    /*that was for figuring out where we was working for learning purposes*/
    flex:1;
    /* flex-direction: row;*/
    /*NOTE: tihs is actually default value so we don't actually need it */
    display:flex;
    align-items: center;
    margin-left:70px;
    margin-right:35px;
    max-width:500px;   
}
.right-section {
    display:flex;
    align-items: center;
    width:200px;
    justify-content: space-between;
    margin-right: 10px;
    flex-shrink:0;/*to make it not shrinking and stay as it*/
}
.hamburger-menu {
    height:24px;
    margin-left: 15px;
    margin-right: 24px;
}
.youtube-logo {
    height:20px;
}
.search_button {
    height:38px;
    width: 66px;
    background-color: rgb(240, 240, 240);
    border-width:1px;
    border-style:solid;
    border-color: rgb(192, 192, 192);
    margin-left: -1px;
}
.search-icon{
    height:25px;
    margin-top:4px;
}
.voice-search-button {
    height:40px;
    width: 40px;
    border-radius: 20px;
    border:none;
    margin-left: 10px;
    background-color: rgb(245, 245, 245);
}
.voice-search-icon {
    height:24px;
    margin-top:4px;
}
.search-bar {
    /*normaly search bars have a default width wecan't see that because we set flex to 1 so it sort of growing with the page but as soon as it hits the default width it's not gonna down anymore*/
    flex:1;
    height:34px;
    padding-left:12px;
    font-size:16px;
    border-width:1px;
    border-style:solid;
    border-color: rgb(192, 192, 192);
    box-shadow: inset 1px 2px 5px rgb(0,0,0,0.05);
    width:0;/*that's to remove the default width of the shearch bar to make it shrinking*/
}
.search-bar::placeholder {
    color: rgb(172, 171, 171);
    font-family: Roboto, Arial;
    font-size: 16px;
}
.upload-icon,
.youtube-apps-icon,
.notifications-icon {
    height: 24px;
}
.current-user-icon {
    height:32px;
    border-radius: 16px;
}